/* Import Google font - Poppins */

* {
  margin: 0;
  padding: 0;

}


body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #19535d;
  margin: 0;
  padding: 0 35px;
  align-items: center;
  justify-content: center;

}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

header a{
  background-color: #eed2aa;
  color: #1F2039;
  text-decoration: none;
  padding: 10px 70px;
  font-size: 0.9em;
  white-space: nowrap;
}

a{
  text-decoration: none;
  color: #eed2aa;
}

a:hover {
  opacity: 0.5;
}

.boutonGauche{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.boutonDroite{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
h1{
  color: #eed2aa;
  font-size: 3.5em;
  margin-bottom: 20px;
}
.titreOnglet{
  margin-left: 100px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
    background-color: white;
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.logoLinkedin{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

.logoDownload{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

a:hover {
    opacity: 0.5;
}




.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #5d4c4c;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.carousel .card1 {
  scroll-snap-align: start;
  height: 342px; /* ou la hauteur que vous souhaitez */
  list-style: none;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative; /* Pour positionner correctement le texte descriptif */
  overflow: hidden; /* Pour les bordures arrondies */
  transition: all 0.3s ease;
}
.card1 .card-title{
  color: white;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.card1 .card-link{
  color: white;
  font-size: 10px;
}

.card1 .description {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7); /* Fond semi-transparent pour le texte */
  text-align: center;
  padding: 5px;
  border-radius: 0 0 8px 8px; /* Arrondir les bords inférieurs */
  opacity: 0; /* Rend le texte complètement transparent initialement */
  transition: opacity 0.3s ease; /* Anime l'opacité pour un effet de fondu */
}


.card1:hover .description {
  opacity: 1; /* Le texte devient opaque lors du survol */
}


.card1 .card-title,
.card1 .card-link a {
  opacity: 0; /* Rendre le titre et le lien transparents initialement */
  transition: opacity 0.3s ease; /* Anime l'opacité pour un effet de fondu */
}

.card1:hover .card-title,
.card1:hover .card-link a {
  opacity: 1; /* Rend le titre et le lien complètement opaques lors du survol */
}

.card1 .card-link a {
  color: inherit; /* Ou toute autre couleur que vous voulez pour votre lien */
  text-decoration: none; /* Supprimer le soulignement par défaut des liens */
}

.card1 .card-link a:hover {
  text-decoration: underline; /* Ou tout autre effet de survol que vous préférez */
}

